aws_region                  = "ap-south-1"
project_name                = "medical-shop"
cluster_name                = "medical-shop-eks"
kubernetes_version          = "1.36"
cluster_public_access_cidrs = ["0.0.0.0/0"]
node_instance_types         = ["t3.micro"]
node_desired_size           = 2
node_min_size               = 1
node_max_size               = 3